*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #cc8ef1;
    font-family: "Outfit", sans-serif;
}

/*pagina di approdo*/
.navigation-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    /*logo*/
.logo-container{
    padding-bottom: 16px;
}

.navigation-container .logo-container .logo-text{
    font-size: 72px;
    font-weight: 600;
    
}

.logo-container .fa-magnifying-glass{
    font-size: 36px;
    color: #fff;
}

    /*barra di ricerca*/
.bar-container{
    padding-bottom: 72px;
    width: 100%;
}

.bar-container form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar-container .navigation-bar{
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 16px;
    border: 2px solid #5f4270;
    margin-right: 8px;
}

.navigation-btn{
    font-size: 14px;
    padding: 10px 12px;  
    background-color: #5f4270;
    border: none;
    color: #fff;
    font-weight: 700;
    border-radius: 16px;
}

@media screen and (min-width: 640px) {
    .logo-container{
        padding-bottom: 24px;
    }

    .navigation-container .logo-container .logo-text{
        font-size: 116px;
        font-weight: 600;
    }

    .logo-container .fa-magnifying-glass{
        font-size: 56px;
        color: #fff;
    }

    .bar-container .navigation-bar{
        font-size: 24px;
        padding: 12px 20px;
        border-radius: 24px;
        border: 2px solid #5f4270;
        width: 45%;
        margin-right: 16px;
    }

    .navigation-btn{
        font-size: 24px;
        background-color: #5f4270;
        border: none;
        color: #fff;
        font-weight: 700;
        border-radius: 24px;
        padding: 16px 20px; 
    }

}

    /*spiegazione funzionamento*/
.abuot-owly-container .point-container{
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    border-top: 2px solid #5f4270;
    border-right: 2px solid #5f4270;
    border-bottom: 2px solid #5f4270;
    width: 250px;
    height: 36px;
}

@media screen and (min-width: 640px) {
    .abuot-owly-container{
        display: flex;
    }

    .first-point-container{
        margin-bottom: 24px;
        margin-right: 24px;
    }

    .second-point-container{
        height: auto;
    }
}

.abuot-owly-container .point{
    width: 38px;
    height: 38px;
    border-radius: 50%;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.first-point-container{
    margin-bottom: 24px;
}

.point-container .first-point{
    background-color: #39b4f7;
    border: 2px solid #39b4f7;
}

.point-container .second-point{
    background-color: #e6893d;
    border: 2px solid #e6893d;
}

.point-container .first-point-text, .second-point-text{
    padding: 0px 12px;
}

.none{
    display: none;
}


/*after research*/
.results-container .navigation-btn{
    position: fixed;
    bottom: 18px;
    right: 18px;
    font-size: 16px;
    padding: 14px 14px;  
    border-radius: 50%;
}

.books-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;  
}

.cards-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;  
}

    /*input utente*/
.research-text{
    padding: 12px 0px 32px 0px;
    font-size: 18px;
    font-weight: 500;
}

.books-container .logo-container{
    padding-top: 24px;
}

.books-container .logo-container .logo-text{
    font-size: 36px;
    font-weight: 600;
}

.books-container .logo-container .fa-magnifying-glass{
    font-size: 18px;
    color: #cc8ef1;
}

    /*card*/
.card{
    width: 80%;
    height: auto;
    padding: 8px 14px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 24px;
    border-radius: 16px;
    background-color: #f6ecfb;
}

@media screen and (min-width: 640px) {
    .cards-container{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        background-color: #fff;  
    }

    .card{
        width: 45%;
        height: auto;
        padding: 8px 14px;
        display: flex;
        flex-wrap: wrap;
        margin: 0px 16px 24px 16px;
        justify-content: space-around;
        border-radius: 16px;
        background-color: #f6ecfb;
    }
}

@media screen and (min-width: 1080px) {
    .cards-container{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        background-color: #fff;  
    }

    .card{
        width: 25%;
        height: auto;
        padding: 8px 14px;
        display: flex;
        flex-wrap: wrap;
        margin: 0px 16px 24px 16px;
        border-radius: 16px;
        background-color: #f6ecfb;
    }
}

.card .book-img-container{
    width: 40%;
    position: relative;
}

.book-img-container .book-cover{
    width: 90px;
    height: 125px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card .book-info-container{
    width: 60%;
    padding: 24px 18px;
    position: relative;
}

.book-info-container .fa-solid{
    font-size: 24px;
   
}

.fa-ghost{
    color: #39b4f7;
}

.fa-dragon{
    color: #2eb03b;
}

.fa-book{
    color: #e6893d;
}

.fa-heart{
    color: rgb(204, 67, 67);
}

.fa-ghost{
    color: #c1c0c2;
}

.fa-thriller{
    color: #f8c34f;
}

.fa-laugh{
    color: rgb(0, 51, 255);
}

.fa-map{
    color: #d271ad;
}



.book-info-container .book-title{
    padding-top: 20px;
    font-size: 16px;  
}

.book-info-container .book-authors{
    padding-top: 6px;
    font-size: 14px;
    display: inline-block;
}

.book-info-container .description-btn{
    background: none;
    border: none;
    font-size: 24px;
    font-weight: 500;
    color: #5f4270;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.description-container{
    width: 100%;
    position: relative;
    max-width: 100%;
}

.description-container .description-text{
    font-size: 14px;
    padding: 16px 6px 12px 6px;
    word-wrap: break-word;
}
